.set-border {
  border-bottom: 2px solid #2ac18c !important;
}
nav a {
  font-size: 16px;
  color: #000000de;
  margin: 14px 0;
  font-size: 20px;
}
nav a:hover {
  color: #2ac18c;
}
.active {
  color: #2ac18c;
  border-bottom: 3px solid #2ac18c;
  padding: 10px 6px;
  transition: 0.4s;
}
.inactive {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  nav li {
    margin: 9px 0px;
  }
}
